doctype html
html(lang='es')
	include template/header
	body(data-page='dashboard')
		header
			div.header.navbar.navbar-inverse.box-shadow.navbar-fixed-top
				div.navbar-inner
					div.header-seperation
						ul.nav.navbar-nav
							li.sidebar-toggle-box
								a(href='#')
									span.icon-bar
									span.icon-bar
									span.icon-bar
							li
								a(href='#')
									strong labitacora.de
							li.hidden-xs
								div.hoy
									div.btn-group
										a.con(data-toggle='dropdown', href='#')
											span.glyphicon.glyphicon-bell
												span.label.label-danger 33
										ul.dropdown-menu.pull-right.dropdown-alerts(role='menu')
											li.title
												span.icon.icon-bell
												| &nbsp;&nbsp; There are 5 new alerts in the system
											li.alert
												div.alert-icon.alt-default
													span.fa.fa-check-square
												div.alert-content Quality check was successful
												div.alert-time 32 sec ago
									div.btn-group
										a.con(href='#')
											span.glyphicon.glyphicon-envelope
												span.label.label-danger 10
									div.btn-group
										a.con(href='#')
											span.glyphicon.glyphicon-cog
		div#main
			section#sidebar
				div.logo-section
					img(src='/images/labitacora_logo.png', alt='labitacora.de')
				ul#nav-accordion
					li
						h3 Dashboard
					li
						a(href='#')
							span.glyphicon.glyphicon-th
							|  Mis bitácoras
					li
						a(href='#')
							span.glyphicon.glyphicon-chevron-right
							|  Bitácora 1
					li
						a(href='#')
							span.glyphicon.glyphicon-chevron-right
							|  Bitácora 2
					li
						h3 Perfil
					li
						a(href='#')
							span.glyphicon.glyphicon-user
							|  Andrés Cidel
					li
						a(href="#")
							span.glyphicon.glyphicon-cog
							|  Configuraci&oacute;n
			section#content
				div
					#powerwidgets.row
						.col-md-12.bootstrap-grid.sortable-grid.ui-sortable
							#timelineexample.powerwidget.blue.powerwidget-sortable(data-widget-editbutton='false', role='widget')
								header(role='heading')
									h2
										| Actividad Reciente
										.buttons-group.pull-right
											a(href='#')
												span.glyphicon.glyphicon-plus-sign
												|  Agregar un amigo
									.powerwidget-ctrls(role='menu')
										a.button-icon.powerwidget-delete-btn(href='#')
											i.fa.fa-times-circle
										a.button-icon.powerwidget-fullscreen-btn(href='#')
											i.fa.fa-arrows-alt
										a.button-icon.powerwidget-toggle-btn(href='#')
											i.fa.fa-chevron-circle-up
									span.powerwidget-loader
								.inner-spacer(role='content')
									.activity-block
										ul.tmtimeline
											li
												time.tmtime(datetime='2013-04-10 18:30')
													span 4/10/13
													span 18:30
												img(src='/images/labitacora_logo.png', alt='labitacora.de').tmicon.bg-pink.fa-camera
												.tmlabel
													h2 
														span.person
															img(src='/images/person.jpg')
														a(href='#') Added photo
													p
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
												.tmcomment
													ul
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
													form
														img(src='/images/person.jpg')
														div.content-input
															textarea(placeholder='Escribe un comentario')
											li
												time.tmtime(datetime='2013-04-10 18:30')
													span 4/10/13
													span 18:30
												img(src='/images/labitacora_logo.png', alt='labitacora.de').tmicon.bg-pink.fa-camera
												.tmlabel
													h2
														span.person
															img(src='/images/person.jpg')
														a(href='#') Added photo
													p
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
												.tmcomment
													ul
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
													form
														img(src='/images/person.jpg')
														div.content-input
															textarea(placeholder='Escribe un comentario')
											li
												time.tmtime(datetime='2013-04-10 18:30')
													span 4/10/13
													span 18:30
												img(src='/images/labitacora_logo.png', alt='labitacora.de').tmicon.bg-pink.fa-camera
												.tmlabel
													h2
														span.person
															img(src='/images/person.jpg')
														a(href='#') Added photo
													p
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
												.tmcomment
													ul
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
													form
														img(src='/images/person.jpg')
														div.content-input
															textarea(placeholder='Escribe un comentario')
											li
												time.tmtime(datetime='2013-04-10 18:30')
													span 4/10/13
													span 18:30
												img(src='/images/labitacora_logo.png', alt='labitacora.de').tmicon.bg-pink.fa-camera
												.tmlabel
													h2
														span.person
															img(src='/images/person.jpg')
														a(href='#') Added photo
													p
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
												.tmcomment
													ul
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
													form
														img(src='/images/person.jpg')
														div.content-input
															textarea(placeholder='Escribe un comentario')
											li
												time.tmtime(datetime='2013-04-10 18:30')
													span 4/10/13
													span 18:30
												img(src='/images/labitacora_logo.png', alt='labitacora.de').tmicon.bg-pink.fa-camera
												.tmlabel
													h2
														span.person
															img(src='/images/person.jpg')
														a(href='#') Added photo
													p
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
												.tmcomment
													ul
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
													form
														img(src='/images/person.jpg')
														div.content-input
															textarea(placeholder='Escribe un comentario')
											li
												time.tmtime(datetime='2013-04-10 18:30')
													span 4/10/13
													span 18:30
												img(src='/images/labitacora_logo.png', alt='labitacora.de').tmicon.bg-pink.fa-camera
												.tmlabel
													h2
														span.person
															img(src='/images/person.jpg')
														a(href='#') Added photo
													p
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
												.tmcomment
													ul
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
														li
															img(src='/images/person.jpg')
															div
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus turpis quis neque imperdiet, eleifend feugiat erat consectetur. Donec eget fringilla lorem, eget auctor sapien.
																span.date 24 Nov
													form
														img(src='/images/person.jpg')
														div.content-input
															textarea(placeholder='Escribe un comentario')