doctype html
html(lang='es')
	include template/header
	body(class="login fadein", data-page="signup")
		div(class="container", id="login-block")
			div.row
				div(class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4")
					div(class="login-box clearfix animated flipInY")
						div(class="page-icon animated bounceInDown")
							img(src="assets/img/account/register-icon.png", alt="Register icon")
						div.login-logo
							a(href="#?login-theme-3")
								img(src="assets/img/account/login-logo.png", alt="Company Logo")
						hr
						div.login-form
							p= message
							div.login-links
								a(href="password_forgot.html") Forgot password?
								br
								a(href="login.html") Already have an account? <strong>Sign In</strong>
		include template/footer